:root {
  --red: #FF5A5F;
  --white: #FFFFFF;
  --lightgrey: #CDD1CC;
  --darkgrey: #555A5C;
  --darkergrey: #282C34;
  --gold: #FFB500;
  --turquoise: #007C80;
  --green: #55ffbb;
}

body {
  display: flex;
  flex-direction: column;

  width: 100vw;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

div, nav, footer, a, button {
  display: flex;
  flex-direction: column;
  color: var(--darkergrey);
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 400;
}

button {
  display: flex;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 56px;

  padding: 0 20px;
}

.navbar > :nth-child(1) {
  flex: 1;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 8px;
  font-size: 18pt;
}

.navbar-item > a {
  margin-right: auto;
}

.navbar-item > a:hover {
  text-decoration: underline;
}



/* CONTENT */

.content {
  flex: 1;
  justify-content: center;
}



/* HOME */

.bio {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  height: 85vh;
  align-items: center;
}

@media all and (max-width: 1000px) {
  .bio {
    height: auto;
    margin-bottom: 120px;
  }

  .bio > :nth-child(2) {
    display: none;
  }
}

.bio-content {
  max-width: 500px;
  max-height: 600px;
  padding-right: 42px;
}

@media all and (max-width: 1000px) {
  .bio-content {
    max-height: none;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}

.bio-content > h1 {
  text-indent: 32pt;
  font-size: 28pt;
  padding: 0;
  margin: 4px;
}

.bio-content > h3 {
  text-align: center;
  padding: 0;
  margin: 0;
}

.bio-content > p {
  font-size: 14pt;
  text-align: left;
  line-height: 26pt;
}

@media all and (max-width: 1000px) {
  .bio-content > p {
    text-align: center;
  }
}

.portrait-image {
  height: 600px;
  margin: auto;
}

.button-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-button {
  box-sizing: border-box;
  height: 100%;
  padding: 8px 16px;
  margin: 0 16px;
  font-size: 14pt;
  background: white;
  border: 2px solid var(--darkgrey);
  transition: all 150ms ease-in-out;
}

.content-button:hover {
  box-shadow: rgba(0, 0, 0, 0.10) 0px 0px 1px 1px,
              rgba(0, 0, 0, 0.24) 0px 2px 2px 0px;
}

.content-button:active {
  border: 2px solid var(--darkergrey);
  background: rgba(1.0, 1.0, 1.0, 0.05);
}

.posts-section {
  display: flex;
  flex-direction: column;
  min-width: 940px;
  max-width: 100%;
  width: 940px;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 80px;
}


@media all and (max-width: 1000px) {
  .posts-section {
    min-width: auto;
    width: 90%;
    padding: 0 40px;
  }
}

.posts-section-header {
  font-weight: 400;
  font-size: 24pt;
  margin: 0;
}

.posts-list {
  padding: 0;
}

.blog-item {
  display: flex;
  flex-direction: column;
}

.blog-title {
  margin: 20px 0 8px 0;
  font-size: 20pt;
  font-weight: 400;

  text-decoration: underline;
  text-decoration-color: blue;
}

@media all and (max-width: 600px) {
  .blog-title {
    font-size: 16pt;
  }
}


.publish-date {
  margin-bottom: 20px;
}

.blog-item-hr {
  width: 100%;
  background: var(--lightgrey);
  height: 2px;
  border: none;
}

/* Portfolio Page */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio > h1 {
  text-align: center;
  font-size: 28pt;
}

.app-container {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 12px;
}

.app-image {
  width: 220px;
}

.app-container-content {
  display: flex;
  flex-direction: column;
  padding: 14px 32px;
  font-weight: bold;
}

.app-title {
  margin: 0;
  padding: 0;
}

.app-title > a {
  text-decoration: none;
  color: inherit;
}

.app-desc {
  text-indent: 32px;
  line-height: 18pt;
  margin: 4px;
  padding: 0;
}

.redirect-link {
  color: inherit;
  margin: 0 16px;
}

.tag-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: auto 0 0 0;
  padding: 0;
  bottom: 0;
}

.tag {
  list-style: none;
  margin: 0 5px;
  padding: 3px 8px;
  border-radius: 3px;
  background: #575757;
  color: lightgray;
}

.commit-log {
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 80%;
}

.commit-log > img {
  width: 100%;
  object-fit: contain;
}



/* WORK */

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work > h1 {
  text-align: center;
  font-size: 28pt;
}



/* CONTACT */

.contact {
  text-align: center;
  font-size: 24pt;
  font-weight: 200;
  max-width: 700px;
  margin: 0 auto;
}



/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 10pt;
  margin: 4px 0;
}

.footer > a {
  padding: 0 4px;
}

@media all and (max-width: 600px) {
  .footer {
    display: none;
  }
}
